<!-- /.content-wrapper -->
<footer class="main-footer">
  <strong>Copyright &copy; 2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
  Todos os direitos reservados.
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.4.15
  </div>
</footer>
